/* common */
@charset "UTF-8";
@import "myreset";

// @font-face {
//   font-family: "RictyDiminished-Regular";
//   src: url("/assets/font/RictyDiminished-Regular.ttf") format("truetype");
// }
@font-face {
  font-family: "SF-Pro-Display-Ultralight";
  src: url("/assets/font/SF-Pro-Display-Ultralight.otf") format("opentype");
}
@font-face {
  font-family: "AdobeSongStd-Light";
  src: url("/assets/font/AdobeSongStd-Light.otf") format("opentype");
}
*{
  box-sizing: border-box;
}
html{
  --kiki-pink: rgb(255, 157, 238);
  --kiki-lavender: rgb(139, 131, 218);
  --my-ease-out: cubic-bezier(0.165, 0.84, 0.44, 1);

  font-size: 14px;
  @media screen and (min-width: 1900){ // xl
    font-size: 16px;
  }

  body{
    font-family: "SF-Pro-Display-Ultralight", "AdobeSongStd-Light", monospace;
    letter-spacing: 1px;
    color: #333;
    text-align: center;
  }
}

p{
  line-height: 2;
}
h1, h2, p{
  // padding: 0.4em 0;
  line-height: 2;
}
.success{
  color: turquoise;
}
.error{
  color: crimson;
}

ul{
  list-style: none;
  li{
    display: inline-block;
  }
}

a{
  text-decoration: none;
}

svg.svg-inline--fa{
  vertical-align: -0.15em;
  margin-right: .3em;
}
