/* common */

h1, h2, p{
  line-height: 2;
}
.success{
  color: turquoise;
}
.error{
  color: crimson;
}

a{
  text-decoration: none;
}

svg.svg-inline--fa{
  vertical-align: -0.15em;
  margin-right: .3em;
}
