.Btn{
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 160px;
  padding: 0.8em calc(1em + 2vw);
  background: var(--kiki-pink);
  color: white;

  border: 1px solid var(--kiki-pink);
  border-radius: 2em;
  font-size: 1.2em;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s var(--my-ease-out);

  @media screen and (min-width: 768px){
    background: rgba(255, 255, 255, 0.8);
    border: none;
    // TODO: テスト
    // background: transparent;
    color: #333;
    border-color: #444;

    &:hover{
      background: rgba(240, 240, 240, 1);
      color: #999;
    }
  }
}
