.Btn{
  // font-size: 16rem;
  min-width: 200px;
  padding: 0.1em 0;

  .inner{
    display: flex;
    // justify-content: center;
    // align-items: center;

    color: white;
    padding: 0.8em calc(1em + 2vw);
    border: 2px solid var(--cvl-red);
    border-radius: var(--border-radius);
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.3);

    font-size: 1.1em;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s var(--my-ease-out);
  }
}
