.LazyLoadImg{
  position: relative;
  display: block;
  width: 100%;
  // height: // js
  overflow-x: hidden;

  img{ // fake src
    display: none;
    pointer-events: none;
    user-select: none;
  }

  .img{
    display: block;
    width: 100%;
    height: 100%;
    pointer-events: none;

    // background-image: url() // js
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .placeholder{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(135deg, var(--primary), var(--secondary));
    color: rgba(250, 250, 250, 0.7);

    font-size: 24rem;
    font-weight: normal;
    z-index: 1;
    pointer-events: none;

    &.hide{
      opacity: 0;
      visibility: hidden;
      transition: 0.4s ease 1.3s;
    }
  }
}
