.App{
  // color
  --general: #354844;
  --primary: #6DC6D1;
  --secondary: #B7DAA2;
  --shadow: rgba(12, 128, 114, 0.22);
  --background: #F6F6F6;
  --heading: #354844;
  --border-radius: 16px;
  --ease-out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);

  color: var(--general);

  // ******************** sm: mobile layout ********************

  main{
    position: relative;
    width: 100%;
    min-height: 100vh;

    // fade-in animation
    transform-origin: center 45vh;
    opacity: 0;
    filter: blur(20px);
    transform: scale(1.1);
    transition: all ease-out 0.7s;
    &.main-fade-in{
      opacity: 1;
      filter: blur(0);
      transform: scale(1);
    }

    .animated-switch-wrapper {
      position: relative;
      height: 100%;

      & > div {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        transform-origin: center 45vh;
      }

      .page{
        width: 100%;
        min-height: 100%;
      }
    }
  }

  // ******************** md middle size layout ********************
  &.md, &.lg, &.xl{
    main{
      height: 100vh;

      .animated-switch-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;

        & > div{
          -webkit-overflow-scrolling: touch;
          height: 100%;
          overflow-y: scroll;
        }
      }
    }
  }
}
