.Card{
  font-size: 32rem;

  position: relative;
  width: 90%;
  height: 0;
  padding-top: 110%;
  margin: 1.5em auto;

  border-radius: var(--border-radius);
  box-shadow: 0 10px 50px 0 var(--shadow);
  // overflow: hidden;
  text-decoration: none;

  transform-origin: center;
  transition: all ease-out 1s;

  --opacity: 0.8;

  &:hover{
    transition: all var(--ease-out-back) 0.3s;
    // width: 92%;
    // padding-top: 114%;
    transform: scale(1.04);
    --opacity: 1;
  }

  .date{
    font-size: 0.5em;
    position: absolute;
    top: -1.2em;
    left: 0.7em;
    text-align: left;
    letter-spacing: 2px;
    color: var(--primary);
  }

  .image{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    height: 80%;
    z-index: 1;

    border-radius: var(--border-radius) var(--border-radius) 0 0;
    border: 0;
    overflow: hidden;
  }

  .heading{
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    height: 25%;
    padding-left: 0.3em;
    padding-bottom: 0.6em;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;

    border-radius: 0 0 var(--border-radius) var(--border-radius);
    border: 0;
    background: var(--primary);
    color: white;
    z-index: 2;

    *{
      opacity: var(--opacity);
    }

    .word{
      display: block;
      font-size: 1em;
      font-weight: bold;
      line-height: 1.1;
      transform: translateY(-0.5em);
      text-shadow: 0 3px 10px var(--shadow);
    }

    .sub-heading{
      display: block;
      font-size: 0.5em;
      line-height: 1;
      transform: translateY(-0.5em);
    }

    .arrow{
      position: absolute;
      top: 0;
      left: auto;
      right: 0.4em;
      bottom: 0;
      margin: auto;
      width: 0.2em;
    }
  } // .heading
}
