.LightsSvg{
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  pointer-events: none;

  .lights-effect{
    fill: transparent;
    animation: lights-effect 6s linear alternate infinite;
    @keyframes lights-effect{
      0%{
        fill: transparent;
      }
      10%{
        fill: transparent;
      }
      30%{
        fill: rgb(101, 255, 198);
      }
      50%{
        fill: rgb(255, 226, 101);
      }
      70%{
        fill: rgb(255, 112, 181);
      }
      90%{
        fill: transparent;
      }
      100%{
        fill: transparent;
      }
    }
  }
}
