.MenuTrigger{
  position: fixed;
  top: 0;
  left: auto;
  right: -44px;
  bottom: auto;

  width: 140px;
  height: auto;

  color: white;
  background: transparent;

  user-select: none;
  cursor: pointer;
  pointer-events: auto;
  overflow: hidden;
  z-index: 9999;

  transform-origin: center;
  border-radius: 4px;

  transition: all 0.4s ease;
  transition-delay: 0.3s;

  &.collapse{
    transition-delay: 0s;
    transform: scale(1.1) translateY(12px);
    filter: blur(6px);
    opacity: 0;
    pointer-events: none;
    cursor: default;
  } // collapse

  &.locked{
    pointer-events: none !important;
  }

}
