.NewsCardList{

  .notification{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90vmin;
    padding: 0 1em;
    margin: 1em auto;

    color: white;
    text-shadow: 0.1em 0.2em 0 var(--shadow);
    background: var(--secondary);
    border-radius: var(--border-radius);
    overflow: hidden;
  }

  .skeleton-screen-load{
    position: relative;

    &::before{
      --this-width: 100%;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: var(--this-width);
      height: 100%;
      background-color: transparent;
      background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,0.2), rgba(255,255,255,0));
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;

      transition: all 0.3s ease;

      transform: skewX(-30deg);
      animation: sliding-infinite 1s linear both infinite;
      @keyframes sliding-infinite{
        from{
          left: calc(-1 * var(--this-width));
        }
        to{
          left: calc(100% + var(--this-width));
        }
      }
    }
  }
}
